<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Movie Explorer </title>
  <meta name="description" content="The Movie Explorer">
  <meta name="author" content="Vivak Patel">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/search.css" %}"> <!--NEED TO CREATE
                                                                                       A CSS FOR THIS HTML DOC-->
</head>

<body>
<div id="background-div"></div>
    <header>
        <div class="header-container">
            <img src="{% static "img/profile_white.png" %}">
            {% if user.is_authenticated %}
                <div class="user-profile">
                    Welcome, <span class="user-name">{{ user.username }}</span>
                </div>
                <div class="header-input-div">
                    <a href="{% url 'logout' %}">
                        <input type="button" value="log out">
                    </a>
                    <div class="input-dialog">
                    </div>
                </div >
            {% else %}
                <div class="header-input-div">
                    <a href="{% url 'login' %}">
                        <input type="button" value="log in">
                    </a>
                    <div class="input-dialog">
                    </div>
                </div>
            <div class="header-input-div">
                <a href="{% url 'register' %}">
                    <input type="button" value="sign up">
                </a>
            </div>
            {% endif %}
        </div>
    </header>
    <section class="header-empty">
    </section>
    <section class="page-title">
        Welcome to Movie Explorer!
    </section>

    <!-- Section used for displaying 'More Description' results -->
    {% block content %}
        {% if status == 'failure' %}
         <section class="errors">
            <div id="movies-error">
                OOPS...<br>
                Failed to retrieve data try again!
            </div>
        </section>

        {% elif status == 'noresult' %}
        <section class="errors">
            <div id="movies-error">
                OOPS...<br>
                No movie found!
            </div>
        </section>

        {% else %}
            <section class="displaying-movie-description">
                <!--<p>{{results}}</p>-->
                <p>{{ movies.title }}</p>
                 <!--<div>-->
                        <!--<img src="{{image_path}}{{info.poster_path}}"}}>-->
                 <!--</div>-->

            </section>
        {% endif %}
    {% endblock %}

</body>