<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Movie Explorer </title>
  <meta name="description" content="The Movie Explorer">
  <meta name="author" content="Vivak Patel">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/search.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/description.css" %}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/stars.css" %}">
</head>

<body>
<div id="background-div"></div>
    <header>
        <div class="header-container">
            <img src="{% static "img/profile_white.png" %}">
            {% if user.is_authenticated %}
                <div class="user-profile">
                    Welcome, <span class="user-name">{{ user.username }}</span>
                </div>
                <div class="header-input-div">
                    <a href="{% url 'logout' %}">
                        <input type="button" value="log out">
                    </a>
                    <div class="input-dialog">
                    </div>
                </div >
                <form method="POST" action="/myratings/" onclick="submit();">
                    <div>
                        {% csrf_token %}
                        <input type="button" value="My Movie Ratings">
                    </div>
                </form>
                <!--<div class="header-input-div">-->
                    <!--<a href="{% url 'myratings' %}">-->
                        <!--<input type="button" value="my ratings">-->
                    <!--</a>-->
                    <!--<div class="input-dialog">-->
                    <!--</div>-->
                <!--</div >-->
            {% else %}
                <div class="header-input-div">
                    <a href="{% url 'login' %}">
                        <input type="button" value="log in">
                    </a>
                    <div class="input-dialog">
                    </div>
                </div>
            <div class="header-input-div">
                <a href="{% url 'register' %}">
                    <input type="button" value="sign up">
                </a>
            </div>
            {% endif %}
        </div>
    </header>
    <section class="header-empty">
    </section>
    <section class="page-title">
        {{results.title}}&nbsp;({{results.release_date}}, {{results.runtime}} mins)
    </section>

    <!-- Section used for displaying 'More Description' results -->
    {% block content %}
        {% if status == 'failure' %}
         <section class="errors">
            <div id="movies-error">
                OOPS...<br>
                Failed to retrieve data. Try again!
            </div>
        </section>
        {% elif status == 'databaseError' %}
        <section class="errors">
            <div id="database-error">
                OOPS...<br>
                We are experiencing problems with our database. Sorry for the inconvenience.
            </div>
        {% else %}
            <section class="displaying-movie-description">
                <table id="movie-view">
                    <tr>
                        <td>
                            <img src="{{image_path}}{{results.poster_path}}"}}>
                        </td>
                        <td>
                            {% if user.is_authenticated %}
                                <div class="star">
                                  <form method="POST" action="/rated/">
                                      {% csrf_token %}
                                    <input class="star star-5" id="star-5" type="radio" name="star" value="5" onchange="this.form.submit();" {% if current_rating == '5' %} checked{% endif %}/>
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star" value="4" onchange="this.form.submit();" {% if current_rating == '4' %} checked{% endif %}/>
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star" value="3" onchange="this.form.submit();"{% if current_rating == '3' %} checked{% endif %}/>
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star" value="2" onchange="this.form.submit();"{% if current_rating == '2' %} checked{% endif %}/>
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star" value="1" onchange="this.form.submit();"{% if current_rating == '1' %} checked{% endif %}/>
                                    <label class="star star-1" for="star-1"></label>
                                      <input type="hidden" value={{results.id}} name="id_movie"}>
                                  </form>
                                </div><br><br>
                                <!--<p style="color:white;">Your current rating: {{ current_rating }}</p>-->
                            {% endif %}
                            <span class="tagline">{{results.tagline}}</span><br><br><br>
                            <span class="overview">
                                {{results.overview}}
                            </span><br><br>
                            <p style="color:white;">{{results.genre}}Genres: {% for name in genre %} {{ name }} {% endfor %}</p>

                        </td>
                    </tr>
                </table>
            </section>
        {% endif %}
    {% endblock %}

</body>