<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Movie Explorer </title>
  <meta name="description" content="The Movie Explorer">
  <meta name="author" content="ecse428 movie Explorer team">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/movie.css" %}">
    <script src="{% static "js/movies.js" %}"></script>
</head>

<body>
    <header>
        <div class="header-container">
            <img src="{% static "img/profile_white.png" %}">
            {% if user.is_authenticated %}
                <div class="user-profile">
                    Welcome, <span class="user-name">{{ user.username }}</span>
                </div>
                <div class="header-input-div">
                    <a href="{% url 'logout' %}">
                        <input type="button" value="log out">
                    </a>
                    <div class="input-dialog">
                    </div>
                </div >
            {% else %}
                <div class="header-input-div">
                    <a href="{% url 'login' %}">
                        <input type="button" value="log in">
                    </a>
                    <div class="input-dialog">
                    </div>
                </div>
            <div class="header-input-div">
                <a href="{% url 'register' %}">
                    <input type="button" value="sign up">
                </a>
            </div>
            {% endif %}
        </div>
    </header>
    <section class="header-empty">
    </section>
    <section class="page-title">
        Welcome to Movie Explorer!
    </section>

    <section class="search-section">
        <form method="POST" action='/search/'>
            {% csrf_token %}
            <input type="text" class="search-bar" name="search" placeholder="Search any movie! (Ex: James Bond...)">
            <input type="submit" value="Search">
        </form>
    </section>

    <!-- Section used for displaying upcoming movies -->
    {% block content %}
        {% if status == 'failure' %}
        <section class="errors">
            <div id="movies-error">
                OOPS...<br>
                We could not retrieve movies from the database, please try again later...
            </div>
        </section>
        {% else %}
            <section class="playing-movies">
                <div class="prev" onclick="prev();">
                    <
                </div>
                <div class="next" onclick="next();">
                    >
                </div>
                <span class="subtitle">TOP 10 MOVIES </span><br><br>

                <div id="movies-container">
                    <input type="hidden" id="translate-value" value="0">
                {% for movie in results %}
                    <div class="movie-poster">
                        <img src="{{image_path}}{{movie.poster_path}}"}}><br><br>
                        <span>
                            {{movie.title}}
                        </span>
                        <form method="POST" action="/description/">
                            {% csrf_token %}
                            <input type="hidden" value={{movie.id}} name="id_movie"}>
                            <input type="submit" value="View Description">
                        </form>
                    </div>
                {% endfor %}
                </div>
            </section>
        {% endif %}
    {% endblock %}

</body>