table#movie-view {
    width: 95%;
    margin: auto;
}

table#movie-view td {
    padding: 75px;
    color: rgba(255,255,255,1);
    font-size: 20px;
    text-align: center;
    vertical-align: top;
}

table#movie-view td > span.tagline {
    font-size: 50px;
    font-style: italic;
}

table#movie-view td > span.overview {
    font-size: 30px;
}

section.displaying-movie-description {
    background-color: rgba(33,33,33,0.5);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}

table#movie-view td > div.trailer > a > input{
    width:4em;
    height:4em;
}

table#movie-view td > div.trailer > img{
    width:4em;
    height:4em;
}

table#movie-view td > div.trailer > p#label_play_trailer{
    font-style: italic;
    color: rgba(140, 127, 114,1);

}
table#movie-view td > div.average_rate > img{
    width:3em;
    height:3em;
}
