@keyframes nextMovies {
    0% {transform: translateX(0px);}
    100% {transform: translateX(100px);}
}

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(60Deg, rgba(44,44,44,1), rgba(33,33,33,1), rgba(17,17,17,1), rgba(33,33,33,1), rgba(44,44,44,1));
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    box-shadow: 0px 0px 20px 0px rgba(240, 50, 50, 1);
    background-color: rgba(240, 50, 50, 0.8);
    text-align: right;
    line-height: 75px;
}

header > div.header-container {
    position: relative;
    width: 100%;
    height: 100%;
}

header > div.header-container > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
}

header > div.header-container > div.header-input-div {
    position: relative;
    display: inline-block;
}

header > div.header-container > div.header-input-div > a > input {
    width: 75px;
    padding: 7px;
    margin-right: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    font-weight: bold;
    cursor: pointer;
}

header > div.header-container > div.header-input-div > div.input-dialog {
    position: absolute;
    top: 52px;
    right: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    background-color: rgba(230,230,230,1);
    z-index: 1000;
}

section.header-empty {
    width: 100%;
    height: 75px;
}

section.page-title {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 55px;
    color: rgba(100,150,240,1);
    text-align: center;
}

section.search-section {
    width: 100%;
    padding-bottom: 75px;
    text-align: center;
}

section.search-section > form > input.search-bar {
    display: inline-block;
    width: 50%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,100,255,1);
    font-size: 125%;
}

section.search-section > form > input {
    padding: 7px;
    border: 3px solid rgba(17,17,17,1);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(240,240,240,1);
    background-color: rgba(33,33,33,1);
    color: rgba(100,150,240,1);
    font-size: 100%;
}

section.playing-movies {
    position: relative;
    width: 100%;
    padding-top: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 25px;
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
    background-color: rgba(33,33,33,0.85);
    color: rgba(233,233,233,1);
    overflow-x: hidden;
    white-space: nowrap;
}

div.movie-poster {
    display: inline-block;
    width: 185px;
    margin-right: 40px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.movie-poster img {
    width: 180px;
}

div.movie-poster > span {
    font-weight: bold;
}

.subtitle {
    margin-left: 150px;
    font-size: 150%;
    font-weight: bold;
}

div#movies-container {
    transition: .6s;
}

div.next {
    position: absolute;
    top:0;
    right: 0;
    width: 75px;
    height: 100%;
    padding-left: 15px;
    background-color: rgba(33,33,33,1);
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 409px;
    cursor: pointer;
    z-index: 1000;
}

div.prev {
    position: absolute;
    top:0;
    left: 0;
    width: 75px;
    height: 100%;
    padding-right: 15px;
    background-color: rgba(33,33,33,1);
    text-align: right;
    font-size: 50px;
    font-weight: bold;
    line-height: 409px;
    cursor: pointer;
    z-index: 1000;
}

div.prev:hover, div.next:hover {
    box-shadow: 0px 0px 30px 0px rgba(240,240,240,1);
}

#movies-error {
    position: fixed;
    top: 35%;
    left: 0;
    width: 100%;
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 75px;
    box-shadow: 0px 0px 20px 0px rgba(175,125,75,1);
    background-color: rgba(33,33,33,1);
    background-color: rgba(33,33,33,1);
    font-size: 40px;
    color: rgba(175,125,75,1);
}

div.user-profile {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 100px;
    line-height: 75px;
    line-height: 75px;
    text-align: left;
    font-size: 125%;
    color: rgba(255,255,255,1);
}

span.user-name {
    font-weight: bold;
}

