/*-----Stars-------*/
li {
    display: inline-block;
    color: #F0F0F0;
    text-shadow: 0 0 1px #666666;
    font-size: 30px;
}

.highlight, .selected {
    color: #FFDD44;
    text-shadow: 0 0 1px #F48F0A;
}

div.stars-new {
    text-align: left;
    height: 40px;
}